extends layout

block main
  form(action="/strategies" method="post")
    dl
      dt
        label(for="stratTitle") Enter the name for your new strategy
      dd
        input(type="text"
              id="stratTitle"
              name="stratTitle"
              placeholder="Strategy Title")
      dt 
        label(for="year") Enter your target date to finish:
      dd
        input(type="text"
              id="targetDate"
              name="targetDate"
              placeholder="YYYY/MM/DD")

      fieldset.actions
        input(type="submit" value="Save")
        a(href="/strategies") Cancel