extends layout

block main
  form(action="/strategies" method="post")
    dl
      dt
        label(for="stratTitle") Enter the name for your new strategy:
      dd
        input(type="text"
              id="stratTitle"
              name="stratTitle"
              placeholder="Strategy Title")
      dt 
        label(for="startDate") Enter your starting date.
      dd
        input(type="text"
              id="startDate"
              name="startDate"
              placeholder="YYYY/MM/DD")
      dt
        label(for="hoursLeft") Enter the number of hours you have left to finish Core (average total for all of Core is 1200 hours):
      dd
        input(type="text"
              id="hoursLeft"
              name="hoursLeft"
              placeholder="Hours Left")
      dt
        label(for="vacationDays") Enter the number of vacation days you plan on taking:
      dd
        input(type="text"
              id="vacationDays"
              name="vacationDays"
              placeholder="Vacation Days")
      dt
        label(for="daysToWork") Enter the number of days you plan on working per week:
      dd
        input(type="text"
              id="daysToWork"
              name="daysToWork"
              placeholder="Days to Work Per Week")
      dt
        label(for="targetDate") Enter your target date to finish Core: 
      dd
        input(type="text"
              id="daysToWork"
              name="daysToWork"
              placeholder="YYY/MM/DD")

      fieldset.actions
        input(type="submit" value="Save")
        a(href="/strategies") Cancel