extends layout

block main
  form(action="/strategies" method="post")
    dl
      dt
        label(for="stratTitle") Enter the name for your new strategy and your target date:
      dd
        input(type="text"
              id="stratTitle"
              name="stratTitle"
              placeholder="Strategy Title")
        input(type="text"
              id="year"
              name="year"
              placeholder="Year")
        input(type="text"
              id="month"
              name="month"
              placeholder="Month")
        input(type="text"
              id="day"
              name="day"
              placeholder="Day")

      fieldset.actions
        input(type="submit" value="Save")
        a(href="/strategies") Cancel