extends layout

block main
  section#strategy
    header
      h2 Strategy Details

      dt Strategy Name:
        dd=strat.stratTitle
      dt Start Date:
        dd=strat.startDate.toLocaleDateString()
      dt Target Date:
        dd=strat.targetDate.toLocaleDateString()
      dt Hours Left:
        dd=strat.hoursLeft
      dt Vacation Days:
        dd=strat.vacationDays
      dt Days to Work Per Week:
        dd=strat.daysToWork
      
      h3="Hours per Day Needed to Make Goal: " + hoursPerDay
